# Task 1: Importing & Splitting the Dataset

Task 1.1: Importing dataset

In [30]:
import pandas as pd

# Load the dataset
data = pd.read_csv('California_Houses.csv')

Task 1.2: Viewing dataset

In [31]:
data

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
0,452600.0,8.3252,41,880,129,322,126,37.88,-122.23,9263.040773,556529.158342,735501.806984,67432.517001,21250.213767
1,358500.0,8.3014,21,7099,1106,2401,1138,37.86,-122.22,10225.733072,554279.850069,733236.884360,65049.908574,20880.600400
2,352100.0,7.2574,52,1467,190,496,177,37.85,-122.24,8259.085109,554610.717069,733525.682937,64867.289833,18811.487450
3,341300.0,5.6431,52,1274,235,558,219,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568
4,342200.0,3.8462,52,1627,280,565,259,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,78100.0,1.5603,25,1665,374,845,330,39.48,-121.09,162031.481121,654530.186299,830631.543047,248510.058162,222619.890417
20636,77100.0,2.5568,18,697,150,356,114,39.49,-121.21,160445.433537,659747.068444,836245.915229,246849.888948,218314.424634
20637,92300.0,1.7000,17,2254,485,1007,433,39.43,-121.22,153754.341182,654042.214020,830699.573163,240172.220489,212097.936232
20638,84700.0,1.8672,18,1860,409,741,349,39.43,-121.32,152005.022239,657698.007703,834672.461887,238193.865909,207923.199166
20639,89400.0,2.3886,16,2785,616,1387,530,39.37,-121.24,146866.196892,648723.337126,825569.179028,233282.769063,205473.376575

Task 1.3: Splitting dataset

In [32]:
from sklearn.model_selection import train_test_split

# Split the dataset randomly into training (70%), validation (15%), and testing (15%)
train_data, temp_data = train_test_split(data, test_size=0.3, random_state=42)
valid_data, test_data = train_test_split(temp_data, test_size=0.5, random_state=42)

Task 1.4: Displaying each dataset

In [33]:
# Display the training data
print("Train Data:")
display(train_data)

# Display the validation data
print("Validation Data:")
display(valid_data)

# Display the test data
print("Testing Data:")
display(test_data)

Train Data:

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
7061,193800.0,4.1312,35,2400,398,1218,408,33.93,-118.02,23776.279176,24698.576810,156839.237082,515562.123164,583596.992915
14689,169700.0,2.8631,20,2183,534,999,496,32.79,-117.09,14344.926278,176528.652553,10601.133551,668041.340253,736046.139555
17323,259800.0,4.2026,24,1601,282,731,285,34.59,-120.14,12910.735294,184124.277358,345599.205561,343624.484526,409395.907938
10056,136100.0,3.1094,14,810,151,302,138,39.26,-121.00,141445.546005,629022.940358,805282.088005,227741.496605,206899.738761
15750,500001.0,3.3068,52,3188,708,1526,664,37.77,-122.45,3136.884725,560579.904946,739000.855009,68885.469946,1702.189357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,229200.0,6.3700,35,1330,201,658,217,33.78,-117.96,12864.492584,40019.707560,139727.044811,531756.235514,599783.704103
11964,97800.0,3.0500,33,3084,570,1753,449,34.02,-117.43,62967.287930,75062.702751,147161.673571,546147.803990,613968.851604
5390,222100.0,2.9344,36,2101,569,1756,527,34.03,-118.38,11715.072797,12801.292905,184842.756194,485477.345833,553467.812127
860,283500.0,5.7192,15,3575,597,1777,559,37.58,-121.96,13858.996090,515808.055643,694699.028968,27824.577268,46750.315127
15795,325000.0,2.5755,52,4226,1315,2619,1242,37.77,-122.42,3769.754012,558759.883301,737236.735015,67026.157049,1086.741962

Validation Data:

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
14100,122500.0,1.5517,31,1235,387,816,397,32.76,-117.09,11881.988776,179203.244357,8272.448913,670618.729843,738617.071827
1661,320400.0,7.5695,16,3421,427,1341,428,37.93,-121.94,16937.646222,544418.994406,723729.860147,66236.883469,46493.816264
4015,450700.0,8.4196,21,3856,547,1422,535,34.15,-118.58,12903.211137,32819.072838,206807.083464,463465.816961,531424.510880
10607,234300.0,6.0634,15,1834,330,841,309,33.68,-117.78,15756.664180,59548.420250,121706.747803,551076.647856,619110.587690
4999,101900.0,2.5848,52,1283,342,1363,329,33.99,-118.28,17975.036426,7687.137275,175715.708783,494810.009814,562818.021407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17554,213600.0,1.4730,35,3300,1154,3120,1075,37.33,-121.88,23557.904307,490504.445914,669043.082220,1303.105538,69275.146629
1498,330200.0,7.5898,25,2652,335,1062,334,37.93,-122.01,14902.589658,548283.878642,727544.068096,66905.262100,40856.237232
16657,208200.0,3.7337,17,2719,589,1386,570,35.27,-120.66,13201.811030,259170.812402,429733.516305,254860.818040,320257.171471
12725,115700.0,2.7788,27,3900,776,1549,761,38.61,-121.35,63245.331553,578067.911604,756593.366800,149499.255089,132556.433224
18498,374600.0,4.0238,19,2372,394,1142,365,37.02,-121.51,32419.085630,442937.745763,621516.681747,48807.309559,116842.374872

Testing Data:

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
2457,100000.0,3.1333,30,1671,319,966,282,36.51,-119.65,164920.577817,301623.727319,479409.189996,219497.073087,283758.669403
12273,118800.0,2.3355,18,4775,886,1868,836,33.97,-117.01,86130.612595,114078.259825,140172.113760,578373.367308,645943.514018
4081,376100.0,3.3669,29,2630,617,1071,573,34.15,-118.37,19359.818278,15920.092826,194981.846980,475902.949059,543927.054192
15537,200000.0,3.8750,46,52,13,59,13,33.12,-117.11,19578.765209,147556.036878,45204.326143,638916.139107,706950.975906
2915,95200.0,4.3482,9,1228,234,409,212,35.36,-119.06,115980.874529,163443.236899,342132.467155,335570.984556,403305.716341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9742,286500.0,5.2203,18,1575,230,751,219,36.81,-121.60,17347.788439,431801.325402,609496.877460,63953.023624,129988.170864
15840,347700.0,3.9500,52,2960,623,1191,589,37.75,-122.43,3630.934883,557757.690310,736171.972608,66074.455633,2668.002050
12181,101300.0,2.0878,16,2876,576,1859,545,33.77,-117.27,54462.813123,95175.007721,117665.534532,576126.650501,644025.202647
5139,101400.0,2.0754,39,2569,688,2601,630,33.97,-118.27,16823.433117,9460.385694,173381.193166,497104.029302,565109.304764
17095,303100.0,3.9290,36,2021,433,1117,432,37.47,-122.24,7416.046998,523771.654354,701888.620863,34103.884288,37766.431984

Task 1.5: Defining features & targets separately (Separate the Median House Value column)

In [34]:
# Define your features (x) and target (y) for each set
x_train = train_data.drop(columns=['Median_House_Value'])
y_train = train_data['Median_House_Value']

x_valid = valid_data.drop(columns=['Median_House_Value'])
y_valid = valid_data['Median_House_Value']

x_test = test_data.drop(columns=['Median_House_Value'])
y_test = test_data['Median_House_Value']

# Task 2: Applying linear, lasso and ridge regression

Task 2.1: Training & Testing a test sample on the regression types

In [42]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso

linear_Reg = LinearRegression()
Lasso_Reg = Lasso(max_iter=100000)
Ridge_Reg = Ridge()

linear_Reg.fit(x_train, y_train)
Lasso_Reg.fit(x_train, y_train)
Ridge_Reg.fit(x_train, y_train)

#Testing using the first feature in testing dataset as its Median House Value is 100000.0
y_pred_linear = linear_Reg.predict(x_test.iloc[[1]])
y_pred_lasso = Lasso_Reg.predict(x_test.iloc[[1]])
y_pred_ridge = Ridge_Reg.predict(x_test.iloc[[1]])

print("Predection using Linear Regression:",y_pred_linear)
print("Predection using Lasso Regression: ",y_pred_lasso)
print("Predection using Ridge Regression: ",y_pred_ridge)
print("Correct value is:", y_test.iloc[1])

Predection using Linear Regression: [113660.90240396]
Predection using Lasso Regression:  [113662.97156212]
Predection using Ridge Regression:  [113662.79439384]
Correct value is: 118800.0

Copy_x() : ensures the original data is not modified during fitting when it's true, false : overwrite

fit_intercept() : add bias (intercept) to the regression equation when it's true y = wx+b

max_iter() : maximum number of iterations for the Lasso solver to converge when the change in coefficients between iterations is small

alpha : Hyperparameters that controls the reguralization, higher values = stronger reguralization which prevents the overfitting

Task 2.2: Applying each type of regression

Task 2.2.1: Creating the models

In [47]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso

linear_Reg = LinearRegression()
Lasso_Reg =  Lasso(max_iter=100000)
Ridge_Reg =  Ridge()

Task 2.2.2: Training the models using the training dataset

In [44]:
linear_Reg.fit(x_train, y_train)
Lasso_Reg.fit(x_train, y_train)
Ridge_Reg.fit(x_train, y_train)

Ridge()

Task 2.2.3: Predicting using the validation dataset

In [46]:
y_pred_linear = linear_Reg.predict(x_valid)
y_pred_lasso  = Lasso_Reg.predict(x_valid)
y_pred_ridge  = Ridge_Reg.predict(x_valid)

results_df = pd.DataFrame({
                            'Linear Regression': y_pred_linear,
                            'Lasso Regression': y_pred_lasso,
                            'Ridge Regression': y_pred_ridge,
                            'Correct value': y_valid
                            })

# Print the first few rows of the DataFrame
print(results_df.head(20).to_string(index=False))

 Linear Regression  Lasso Regression  Ridge Regression  Correct value
     117112.594987     117113.832282     117121.144205       122500.0
     332653.976787     332657.066504     332660.644661       320400.0
     406311.595656     406309.117015     406304.110360       450700.0
     285959.267964     285962.046501     285967.890568       234300.0
     186718.315945     186719.368763     186721.651236       101900.0
      57904.216887      57897.028629      57886.981448        48700.0
      43141.269106      43135.308827      43127.656783        54000.0
     217968.407054     217968.259708     217968.669346       224100.0
     183371.995623     183371.391487     183374.949130       111400.0
      75538.571789      75530.566660      75519.163012        90000.0
      25739.435676      25730.448283      25700.507057        66700.0
     145276.319729     145288.790094     145309.784505        95800.0
     313234.255338     313236.547851     313241.843805       222100.0
     235701.602749     235703.137246     235712.632336       342200.0
     198076.782966     198078.086623     198080.089734       138000.0
     275995.896400     275988.761557     275975.060830       290400.0
     282864.683996     282865.421248     282866.115544       195800.0
     190225.294219     190226.033686     190226.543435       151500.0
      47213.136007      47212.319186      47213.880695        63000.0
     232542.127626     232537.897186     232529.942723       352800.0

Task 2.2.4: Displaying the predications and showing accuracy

# Task 3: Reporting Mean Square Error and Mean Absolute Errors

Task 3.1: Calculating MAE & MSE for each regression type

In [59]:
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error
best_regression = None
# Calculate MAE and MSE for each regression model
MAE_linear = mean_absolute_error(y_valid, y_pred_linear)
MSE_linear = mean_squared_error(y_valid, y_pred_linear)

MAE_lasso = mean_absolute_error(y_valid, y_pred_lasso)
MSE_lasso = mean_squared_error(y_valid, y_pred_lasso)

MAE_ridge = mean_absolute_error(y_valid, y_pred_ridge)
MSE_ridge = mean_squared_error(y_valid, y_pred_ridge)

Task 3.2: Displaying MAE & MSE for each regression type

In [60]:
# Create a DataFrame to display the results
data = {
    'Model': ['Linear Regression', 'Lasso Regression', 'Ridge Regression'],
    'MAE': [MAE_linear, MAE_lasso, MAE_ridge],
    'MSE': [MSE_linear, MSE_lasso, MSE_ridge]
}
results_df = pd.DataFrame(data)
# Display the results in a tabular format
display(results_df)

               Model           MAE           MSE
0  Linear Regression  50790.060271  4.907212e+09
1   Lasso Regression  50790.273473  4.907220e+09
2   Ridge Regression  50790.607315  4.907227e+09

Task 3.3: Finding the lowest MAE & MSE (Best Regression)

In [62]:
# Find the best regression based on lowest MAE
lowest_MAE = min(MAE_linear, MAE_lasso, MAE_ridge)
best_regression_mae = None

if lowest_MAE == MAE_linear:
    best_regression_mae = 'Linear Regression'
elif lowest_MAE == MAE_lasso:
    best_regression_mae = 'Lasso Regression'
elif lowest_MAE == MAE_ridge:
    best_regression_mae = 'Ridge Regression'

# Find the best regression based on lowest MSE
lowest_MSE = min(MSE_linear, MSE_lasso, MSE_ridge)
best_regression_mse = None

if lowest_MSE == MSE_linear:
    best_regression_mse = 'Linear Regression'
elif lowest_MSE == MSE_lasso:
    best_regression_mse = 'Lasso Regression'
elif lowest_MSE == MSE_ridge:
    best_regression_mse = 'Ridge Regression'

# Print the best regression based on MAE and MSE
print("Best Regression (MAE):", best_regression_mae)
print("Best Regression (MSE):", best_regression_mse)

Best Regression (MAE): Linear Regression
Best Regression (MSE): Linear Regression